<br>
<form style="margin-left: 120px;" #editTweetForm="ngForm" (ngSubmit)= "onSubmit(editTweetForm)">

<div class="row">
    <br>
    <div *ngFor="let tweet of tweets" >
        <div *ngIf="tweet.TweetId==tweetId;">
        <input style="width: 350px;" class="form-control" name="tweet" id="tweet" [(ngModel)]=tweet.Tweet/></div>
    </div>
  </div>
  <br>
  <div class="row">
    <button type="submit" style="margin-left: 75px; width: 60px;" class="btn btn-success">Save</button>
    <button style="margin-left: 60px; width: 70px;" class="btn btn-danger" (click)="onCancel()"> Cancel </button>
  
</div>
</form>
<br>
