body{
  overflow: hidden;
  background-image: url('/assets/Images/loginBackgroundImage.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 
  height: 100%;
}
.container-fluid{
    background-color:rgba(209,228,243,255);
    width: 350px;
    height: 580px;
    margin-left: 2%;
}
h1
{

 font-size: 40px;
 font-weight: bolder; 
 color: rgb(38, 9, 112);
}
.form-control
{
 width: 300px;

}
label{
    width: 700px;
 font-size: 20px;
 color: rgb(6, 79, 148);
}
img{
 width: auto; 
 height: auto;
}

.main-div {
    background-image: url('/assets/Images/addtocart2.png');
    background-repeat: no-repeat;
     background-size: cover;
     
  } 
  h2{
    color: white;
    margin-left: 220px;
  }
  .loginForm{
    background-color: rgba(93,175,244,255);
    margin-left: 360px;
    margin-top: 90px;
    width:500px;
    height:400px;
  }
  input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px  #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:rgb(82, 101, 156);  
  }