form {
  text-align: center;
  gap: 1rem;
  margin-bottom: 1rem;
  color: white;
}
    
form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
    
form input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 30rem;
  max-width: 100%;
}

    
.forgotPassword {
  margin-left: 8rem;
  margin-top: 5.5rem;
  background-color: #60baee;
  padding: 1rem;
  max-width: 80%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  }
.forgotPassword h2{
  text-align: center;
  color: white;
}
.forgotPassword button {
  padding: 0.5rem 1.7rem;
  border-radius: 12px;
  margin-right: 1rem;
}
      
            
      
  
   