<body style=" overflow: hidden;background-image: url('/assets/Images/RegisterBgImage.png');background-position: center;background-repeat: no-repeat;background-size: cover;position: relative; height: 608px;">
    <div class="forgotPassword" >
        <h2><u>Forgot Password</u></h2>
        <h2>Please Enter Details to Verify</h2>
        <form style="margin-left: 120px;" #forgotPasswordForm="ngForm" (ngSubmit)= "onSubmit(forgotPasswordForm)">
          <div class="row">
            <div class="col-lg-6">
              <label>Email Id</label>
              <input type='text' class="form-control" name="emailId" placeholder='Email Id' ngModel required/>
              
            </div>
            <div class="col-lg-6">
                <label>Contact Number</label>
                <input type='number' id="mobileNo" name="mobileNo" placeholder='Contact' class="form-control" ngModel required/>
                </div>            
             </div>          
           
            <br/>
            <div class='new-reg__actions'>
               <button type='submit' class="btn btn-success">Verify</button>
               <button routerLink="" class="btn btn-danger">Cancel</button>
            </div>
          </form>    
        
  </div>
  </body>
        
