<div className="main-div" style= 
    "background-image: url('https://cdn.cms-twdigitalassets.com/content/dam/help-twitter/logos/htc-summary-card.jpg.twimg.768.jpg');background-position: center;background-repeat: no-repeat;background-size: cover;position: relative; height: 608px;">
  <app-navigation-bar [Name]="tabLabel"></app-navigation-bar>
  <div class="container-fluid mb-5" > 
    
       <br/>
       <h2>Welcome Back To Tweeter!!</h2>
       <div class="pageBody">
            <button (click)="routePostATweet()"> Post A Tweet</button>
            <br/>
            <button (click)="routeViewAllTweet()"> View All Tweets</button>
            <br/>
            <button (click)="routeViewAllUsers()"> View All Users</button>
            <br/>
            <button (click)="routeEditDetails()"> Edit Details</button>
       </div>
 </div>
 </div>
